.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(10,2,16,.5);
  overflow-y: scroll;
}

.wrapper {
  padding: 20px;
}

.content {
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

.close {
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 10px;
}