.title {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: 300px;
  font-family: 'les_sensations_de_ceriseIt';
  color: #fff;
  font-weight: 200;
  line-height: 280px;

  @media (max-width: 800px) {
    line-height: 150px;
  }
}

.menu {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.5em;
  max-width: 500px;
  margin: 0px auto 40px auto;
  padding: 0;

  @media (max-width: 800px) {
    text-align: center;
    max-width: 300px;
  }
}

.menu li {
  margin: 0px 10px;
  display: inline-block;
}

.active a {
  color: #fff;
}

.photo {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 2px;
  filter: brightness(100%);
  transition : filter 0.15s linear
}

.photo:hover {
  filter: brightness(140%);
}

.columns {
  width: 100%;
}

.column {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 0px 0px 0px 2px;


  @media (max-width: 1200px) {
    width: 25%
  }

  @media (max-width: 1000px) {
    width: 33.3%
  }

  @media (max-width: 800px) {
    width: 50%
  }

  @media (max-width: 400px) {
    width: 100%
  }
}