body {
  background-color: #111;
  color: #9f9f9f;
}

@font-face {
    font-family: 'les_sensations_de_ceriseIt';
    src: url('les_sensations_de_cerise-webfont.woff2') format('woff2'),
         url('les_sensations_de_cerise-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {
  color: #9f9f9f;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: #9f9f9f;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
